*{
	box-sizing: border-box;
}

body{
	margin:20px;
	padding: 0px;
	}

h1{
	text-align: center;
	font-family: helvetica, sans-serif;
}

div{
	position: relative;
	}

p{
	border: 1px solid black;
	padding: 25px;
	background-color: grey;
}
section{
	display: block;
}
h3{
	border: 1px solid black;
	float: right;
	text-align: center;
	margin: 0px;
	padding: 5px;
	width: 30%;
	font-family: helvetica, sans-serif;
}

.chicken{
	background-color: pink;
	position: relative;
	bottom: 0.2px;
	margin: 15px;
	left: 15px;
}
.beef{
	background-color: maroon;
	color: white;
	margin:20px;
	position: relative;
	bottom: 5px;
	left: 20px;
}

.sushi{
	background-color: yellow;
	position: relative;
	bottom: 0.2px;
	margin:15px;
	left: 15px;
}

@media (max-width: 767px){
	div{
		width: 100%;
	}
	section{
		position: relative;
		bottom: 15px;

	}
}

@media (min-width: 768px) and (max-width: 991px){
	div#first,#second{
		width: 46%;
		float: left;
		margin: 10px;
		
		}
	div#third{
		width: 95%;
		float: left;
	}
	
}
@media (min-width: 992px){
	div{
		width: 30%;
		float: left;
		margin: 10px;
	}	
	
}

	

	