*{
	box-sizing: border-box;
}
body{
	margin: 20px;
	padding: 0px;
}
h1{
	text-align: center;
	font-family: Helvetica, sans-serif;
}
div{
	position: relative;
}
p{
	border: 3px solid black;
	background-color: grey;
	padding: 25px;
}
h3{
	border: 3px solid black;
	text-align: center;
	float: right;
	margin: 0px;
	padding: 5px;
	width: 20%;
	font-family: Helvetica, sans-serif;
}
.chicken{
	background-color: pink;
	position: relative;
	margin: 15px;
	left: 15px;
	bottom: 0.2px;
}
.beef{
	background-color: maroon;
	color: white;
	position: relative;
	margin: 20px;
	bottom: 5px;
	left: 20px;
}
.sushi{
	background-color: yellow;
	position: relative;
	margin: 15px;
	bottom: 0.2px;
	left: 15px;
}
@media (max-width: 767px){
	div{
		width: 100%;
	}
	section{
		position: relative;
		bottom: 15px;
	}
}
@media (min-width: 768px and max-width: 991px){
	div#first,#second{
		width: 46%;
		float: left;
		margin: 10px;
	}
	div#third{
		width:95%;
		float: left;
	}
}
@media (min-width: 992px){
	div{
		width: 30%;
		float: left;
		margin: 10px;
	}
}